*{
    margin: 0;
    padding: 0;
}
#navbarNavAltMarkup a{
    padding: 15px;
    
}
#navbarNavAltMarkup a i{
    padding: 10px 15px;
    border: 1px solid greenyellow;
    margin-top: -5px;
}
.top-image{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url('https://images.pexels.com/photos/3890209/pexels-photo-3890209.jpeg?cs=srgb&dl=photo-of-boys-sitting-near-doorway-3890209.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 10% 10%;
    
}



/* ====== cariben paradice style */
.c-text{
    text-align: center;
    justify-content: center;
}



/* =========== img card section ====== */

.col_img img{
    width: 100%;
    margin-top: 10px;
}


/* ====== gerography */

.img-sec img{
    width: 100%;
}
.img-sec p{
    background-color: white;
    padding: 10px 20px;
    box-shadow: 1px 1px 6px black;
}


/* ====  segement 5 */

#segment-five{
    background-image: url('https://images.pexels.com/photos/164041/pexels-photo-164041.jpeg?cs=srgb&dl=clear-blue-sea-164041.jpg&fm=jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    color: white;
    text-align: center;
}
.seg-five-text{
    padding: 5rem;
    background-color:#0092af21;
}


/* ==== history section */

.his-head-text-one p{
    margin: 20px auto;

}


/* ===== img over lap */


#back-imgae-one{
    background-image: url('../img/bg3.jpg');
    background-attachment: fixed;
    background-size: cover;
    
}
.left-img img{
    height: 100%;
    width: 100%;
    margin: 50px 0%;
}
.text-rt{
    text-align: left;
    background-color: white;
    margin-top: 80px;

}
.text-rt a{
    background-color: yellowgreen;
    padding: 10px 20px;
    color: white;
    border: none;
    text-decoration: none;

}



/* ==== review ====== */


.book-now{
    background-color: yellowgreen;
    margin-top: -30px;
    padding: 20px;
    text-align: center;
}
.book-now .check-date a{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
}


/* footer */
#ftr{
    background-color: darkcyan;
    text-transform: uppercase;
}
#ftr img{
    width: 100%;
    
}
.ftr-top{
    margin: 25px auto;
}
.about-section ul li{
    margin: 5px 10px;
    list-style: none;
    color: white;
}
.customer-service ul li{
    margin: 5px 10px;
    list-style: none;
    color: white;
}
.reservation ul li{
    margin: 5px 10px;
    list-style: none;
    color: white;
}
.social-icons i{
    color: white;
    padding: 5px ;
    font-size: 2rem;
}


/* media query */



@media (max-width:996px){
    .text-rt{
        text-align: left;
        background-color: white;
        font-size: 15px;
    
    }
   
}

@media (max-width:908px){
    .seg-five-text{
        padding: 10px 20px;
       
    }
   
}
@media (max-width:770px){
    .text-rt h1{
        text-align: left;
        background-color: white;
       
        font-size: 20px;
        color: black;
    
    }
    .text-rt{
        text-align: left;
        background-color: white;
        font-size: 10px;
    
    }
   
}
@media (max-width:581px){
   
    #ftr{
        background-color: darkcyan;
        text-transform: uppercase;
        text-align: center;
    }
}
@media (max-width:516px){
   
    .seg-five-text{
        padding: 5px 10px;
        font-size: 15px;
       
    }
}
@media (max-width:484px){
   
    .seg-five-text{
        padding: 2px 5px;
        font-size: 15px;
       
    }
}
@media (max-width:484px){
   
    .seg-five-text{
        padding: 2px 5px;
        font-size: 10px;
       
    }
}
@media (max-width:405px){
   
    .navbar-brand {
        width: 70%;
    }
    .navbar-brand img {
        width: 100%;
    }
     
 }